@model List<KnjigaAutorCRUD.Models.Autor>
@{
    ViewData["Title"] = "Autori";
}

<div class="d-flex align-items-center justify-content-between mb-3">
    <h2>Autori</h2>
    <a class="btn btn-success" asp-action="Dodaj">Dodaj</a>
</div>


<table class="table table-dark">
    <thead>
        <tr>
            <th>Sifra</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Izmeni</th>
            <th>Obrisi</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var autor in Model)
        {
            <tr>
                <td>@autor.Id.ToString()</td>
                <td>@autor.Ime</td>
                <td>@autor.Prezime.ToString()</td>

                <td>
                    <a class="btn btn-outline-warning" asp-action="Izmeni" asp-route-id="@autor.Id">Izmeni</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger" asp-action="Obrisi" asp-route-id="@autor.Id">Obrisi</a>
                </td>
            </tr>
        }
    </tbody>
</table>